<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enabled</string>
				<key>key</key>
				<string>kEnabled</string>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Charge Sound</string>
				<key>key</key>
				<string>kCustomCharge</string>
				<key>isGroupToggle</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>label</key>
				<string>Choose Sound</string>
				<key>key</key>
				<string>kChargeSound</string>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>titlesDataSource</key>
				<string>getChargeSounds:</string>
				<key>valuesDataSource</key>
				<string>getChargeSounds:</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Keyboard Sound</string>
				<key>key</key>
				<string>kCustomKeyboard</string>
				<key>isGroupToggle</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>label</key>
				<string>Choose Sound</string>
				<key>key</key>
				<string>kKeyboardSound</string>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>titlesDataSource</key>
				<string>getKeyboardSounds:</string>
				<key>valuesDataSource</key>
				<string>getKeyboardSounds:</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Lock Sound</string>
				<key>key</key>
				<string>kCustomLock</string>
				<key>isGroupToggle</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>label</key>
				<string>Choose Sound</string>
				<key>key</key>
				<string>kLockSound</string>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>titlesDataSource</key>
				<string>getLockSounds:</string>
				<key>valuesDataSource</key>
				<string>getLockSounds:</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Passcode Sound</string>
				<key>key</key>
				<string>kCustomPasscode</string>
				<key>isGroupToggle</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>label</key>
				<string>Choose Sound</string>
				<key>key</key>
				<string>kPasscodeSound</string>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>titlesDataSource</key>
				<string>getPasscodeSounds:</string>
				<key>valuesDataSource</key>
				<string>getPasscodeSounds:</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Unlock Sound</string>
				<key>key</key>
				<string>kCustomUnlock</string>
				<key>isGroupToggle</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>label</key>
				<string>Choose Sound</string>
				<key>key</key>
				<string>kUnlockSound</string>
				<key>defaults</key>
				<string>fun.tylerd3v.customsounds</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>titlesDataSource</key>
				<string>getUnlockSounds:</string>
				<key>valuesDataSource</key>
				<string>getUnlockSounds:</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>big</key>
				<true/>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>TylerD3V</string>
				<key>user</key>
				<string>TylerD3V</string>
			</dict>
		</array>
		<key>title</key>
		<string>CustomSounds</string>
	</dict>
</plist>